<h1>Dashboard</h1>
<a href='/dashboard/newentry'><button id='create-entry' class='btn'>Create New Entry</button></a>

{{#if posts.length}}
<div>
    <h3>
        Your post history:
    </h3>

    <div>
        {{#each posts as |post|}}
        {{> detail post }}
        <a href='/dashboard/edit/{{post.id}}'><button class='btn'>Edit</button>
            {{/each}}
    </div>
</div>
{{/if}}